Repository axelhamil/CleanStack: changes, and which Codecov flags are due for each by the changed paths.
All: ddd-kit, nextjs

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
        informational: true
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  ddd-kit:
    paths:
      - packages/ddd-kit/src/
    carryforward: true
  nextjs:
    paths:
      - apps/nextjs/src/
    carryforward: true

test(e2e): add playwright e2e tests for auth flows
  .claude/ralph/PROGRESS.md
  .github/workflows/ci.yml
  .gitignore
  apps/nextjs/e2e/auth.spec.ts
  apps/nextjs/e2e/fixtures/test-data.ts
  apps/nextjs/e2e/protected-routes.spec.ts
  apps/nextjs/e2e/smoke.spec.ts
  apps/nextjs/package.json
  apps/nextjs/playwright.config.ts
  apps/nextjs/vitest.config.ts
  package.json
  packages/ddd-kit/package.json
  pnpm-lock.yaml
Due: none

feat(skills): add eventstorming skill for domain discovery
  .claude/skills/eventstorming.md
Due: none

feat(skills): add feature-prd, gen-domain, gen-usecase, gen-tests skills and auto-routing
  .claude/hooks/skill-suggestions.md
  .claude/skills/feature-prd.md
  .claude/skills/gen-domain.md
  .claude/skills/gen-tests.md
  .claude/skills/gen-usecase.md
Due: none

feat(agents): add claude agents for architecture and quality
  .claude/agents/code-reviewer.md
  .claude/agents/doc-writer.md
  .claude/agents/feature-architect.md
  .claude/agents/test-writer.md
Due: none

docs(claude): add comprehensive developer documentation
  CLAUDE.md
Due: none

feat(billing): add subscription domain with aggregate, events, and tests
  apps/nextjs/src/__TESTS__/billing-domain.test.ts
  apps/nextjs/src/application/ports/subscription.repository.port.ts
  apps/nextjs/src/domain/billing/events/payment-failed.event.ts
  apps/nextjs/src/domain/billing/events/plan-changed.event.ts
  apps/nextjs/src/domain/billing/events/subscription-cancelled.event.ts
  apps/nextjs/src/domain/billing/events/subscription-created.event.ts
  apps/nextjs/src/domain/billing/events/subscription-renewed.event.ts
  apps/nextjs/src/domain/billing/subscription-id.ts
  apps/nextjs/src/domain/billing/subscription.aggregate.ts
  apps/nextjs/src/domain/billing/value-objects/plan-id.vo.ts
  apps/nextjs/src/domain/billing/value-objects/subscription-status.vo.ts
Due: nextjs

feat(auth): add google and github oauth providers
  apps/nextjs/.env.example
  apps/nextjs/app/(auth)/login/_components/login-form.tsx
  apps/nextjs/app/(auth)/login/_components/oauth-buttons.tsx
  apps/nextjs/app/(auth)/register/_components/register-form.tsx
  apps/nextjs/common/auth-client.ts
  apps/nextjs/common/auth.ts
Due: none

feat(auth): polish auth ui with loading states and password reset flow
  apps/nextjs/app/(auth)/forgot-password/_components/forgot-password-form.tsx
  apps/nextjs/app/(auth)/forgot-password/page.tsx
  apps/nextjs/app/(auth)/login/_components/login-form.tsx
  apps/nextjs/app/(auth)/register/_components/register-form.tsx
  apps/nextjs/app/(auth)/reset-password/_components/reset-password-form.tsx
  apps/nextjs/app/(auth)/reset-password/page.tsx
  apps/nextjs/src/__TESTS__/billing-domain.test.ts
  apps/nextjs/src/domain/billing/value-objects/subscription-status.vo.ts
Due: nextjs

feat(billing): add stripe payment provider integration
  apps/nextjs/common/di/container.ts
  apps/nextjs/common/di/modules/billing.module.ts
  apps/nextjs/common/di/types.ts
  apps/nextjs/package.json
  apps/nextjs/src/__TESTS__/stripe-payment-provider.test.ts
  apps/nextjs/src/adapters/payment/stripe-payment.provider.ts
  apps/nextjs/src/application/ports/payment.provider.port.ts
  pnpm-lock.yaml
Due: nextjs

feat(billing): add stripe checkout flow with use case and api
  apps/nextjs/app/(protected)/checkout/success/page.tsx
  apps/nextjs/app/api/checkout/route.ts
  apps/nextjs/common/di/modules/billing.module.ts
  apps/nextjs/common/di/types.ts
  apps/nextjs/src/__TESTS__/create-checkout-session-use-case.test.ts
  apps/nextjs/src/application/dto/create-checkout-session.dto.ts
  apps/nextjs/src/application/use-cases/billing/create-checkout-session.use-case.ts
Due: nextjs

feat(billing): add stripe webhook handling with use case and api
  .claude/ralph/PROGRESS.md
  apps/nextjs/app/api/webhooks/stripe/route.ts
  apps/nextjs/common/di/modules/billing.module.ts
  apps/nextjs/common/di/types.ts
  apps/nextjs/src/__TESTS__/handle-stripe-webhook-use-case.test.ts
  apps/nextjs/src/adapters/repositories/subscription.repository.ts
  apps/nextjs/src/application/dto/handle-stripe-webhook.dto.ts
  apps/nextjs/src/application/use-cases/billing/handle-stripe-webhook.use-case.ts
  apps/nextjs/src/domain/billing/subscription.aggregate.ts
Due: nextjs

refactor(tests): reorganize tests into domain/application/adapters structure
  apps/nextjs/src/__TESTS__/adapters/events/in-memory-event-dispatcher.test.ts
  apps/nextjs/src/__TESTS__/adapters/events/log-user-created-handler.test.ts
  apps/nextjs/src/__TESTS__/adapters/mappers/user-mapper.test.ts
  apps/nextjs/src/__TESTS__/adapters/payment/stripe-payment-provider.test.ts
  apps/nextjs/src/__TESTS__/application/auth/get-session-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/auth/sign-in-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/auth/sign-out-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/auth/sign-up-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/auth/verify-email-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/billing/create-checkout-session-use-case.test.ts
  apps/nextjs/src/__TESTS__/application/billing/handle-stripe-webhook-use-case.test.ts
  apps/nextjs/src/__TESTS__/domain/billing/billing-domain.test.ts
  apps/nextjs/src/__TESTS__/domain/user/user-domain.test.ts
  apps/nextjs/src/__TESTS__/domain/user/user-events.test.ts
Due: nextjs

feat(billing): add customer portal for subscription management
  apps/nextjs/app/(protected)/settings/billing/_components/manage-subscription.tsx
  apps/nextjs/app/(protected)/settings/billing/page.tsx
  apps/nextjs/app/api/billing/portal/route.ts
  apps/nextjs/common/di/modules/billing.module.ts
  apps/nextjs/common/di/types.ts
  apps/nextjs/src/__TESTS__/application/billing/create-portal-session-use-case.test.ts
  apps/nextjs/src/application/dto/create-portal-session.dto.ts
  apps/nextjs/src/application/use-cases/billing/create-portal-session.use-case.ts
Due: nextjs

feat(ui): add brutalist pricing components
  packages/ui/src/components/brutalist-pricing-card.tsx
  packages/ui/src/components/brutalist-pricing-table.tsx
  packages/ui/src/components/brutalist-pricing-toggle.tsx
Due: none

feat(pricing): add pricing page with checkout integration
  apps/nextjs/app/pricing/_components/pricing-section.tsx
  apps/nextjs/app/pricing/page.tsx
  apps/nextjs/common/plans.ts
Due: none

feat(dashboard): add sidebar layout with navigation
  .claude/ralph-loop.local.md
  .claude/ralph/PROGRESS.md
  apps/nextjs/app/(protected)/_components/dashboard-header.tsx
  apps/nextjs/app/(protected)/_components/mobile-nav.tsx
  apps/nextjs/app/(protected)/_components/protected-header.tsx
  apps/nextjs/app/(protected)/_components/sidebar.tsx
  apps/nextjs/app/(protected)/_components/user-menu.tsx
  apps/nextjs/app/(protected)/layout.tsx
  packages/ui/package.json
  packages/ui/src/components/ui/avatar.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/sheet.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: none

feat(landing): add footer component with navigation
  .claude/ralph/PROGRESS.md
  apps/nextjs/app/_components/footer.tsx
  apps/nextjs/app/page.tsx
Due: none

feat(settings): add settings pages with profile and billing
  .claude/ralph/PROGRESS.md
  apps/nextjs/app/(protected)/settings/_components/profile-form.tsx
  apps/nextjs/app/(protected)/settings/_components/settings-nav.tsx
  apps/nextjs/app/(protected)/settings/billing/page.tsx
  apps/nextjs/app/(protected)/settings/layout.tsx
  apps/nextjs/app/(protected)/settings/page.tsx
Due: none

feat(email): add email service with resend integration
  apps/nextjs/.env.example
  apps/nextjs/common/di/container.ts
  apps/nextjs/common/di/modules/email.module.ts
  apps/nextjs/common/di/modules/events.module.ts
  apps/nextjs/common/di/types.ts
  apps/nextjs/package.json
  apps/nextjs/src/adapters/email/resend-email.service.ts
  apps/nextjs/src/application/event-handlers/send-welcome-email.handler.ts
  apps/nextjs/src/application/ports/email.service.port.ts
  pnpm-lock.yaml
Due: nextjs

feat(email): add react email templates for transactional emails
  apps/nextjs/emails/components/email-button.tsx
  apps/nextjs/emails/components/email-footer.tsx
  apps/nextjs/emails/components/email-layout.tsx
  apps/nextjs/emails/templates/password-reset.tsx
  apps/nextjs/emails/templates/payment-confirmation.tsx
  apps/nextjs/emails/templates/welcome.tsx
  apps/nextjs/package.json
  apps/nextjs/src/application/event-handlers/send-welcome-email.handler.ts
  apps/nextjs/tsconfig.json
  pnpm-lock.yaml
Due: nextjs

feat(deploy): add vercel deployment configuration
  apps/nextjs/.env.example
  apps/nextjs/next.config.mjs
  vercel.json
Due: none

feat(monitoring): add sentry error tracking integration
  apps/nextjs/.env.example
  apps/nextjs/app/global-error.tsx
  apps/nextjs/next.config.mjs
  apps/nextjs/package.json
  apps/nextjs/sentry.client.config.ts
  apps/nextjs/sentry.edge.config.ts
  apps/nextjs/sentry.server.config.ts
  pnpm-lock.yaml
Due: none

docs(readme): add ai-powered development and production features sections
  README.md
Due: none

docs: add changelog following keep a changelog format
  CHANGELOG.md
Due: none

chore: add codeowners and update gitignore
  .github/CODEOWNERS
  .gitignore
Due: none

chore: improve issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/pull_request_template.md
Due: none

chore: prepare v1.0.0 release
  .jscpd.json
  CHANGELOG.md
  packages/ddd-kit/package.json
Due: none

docs: add comprehensive tutorial documentation
  docs/01-quick-start.md
  docs/02-architecture.md
  docs/03-tutorial-first-feature.md
  docs/04-ai-workflow.md
  docs/05-deployment.md
  docs/06-troubleshooting.md
  docs/07-faq.md
  docs/README.md
Due: none

chore(dx): add vitest ui script for visual test debugging
  package.json
Due: none

chore(dx): add developer experience improvements
  .claude/ralph/PROGRESS.md
  UPGRADING.md
  apps/nextjs/src/common/errors/domain-errors.ts
  knip.json
Due: nextjs

docs(ralph): mark all prd stories complete
  .claude/ralph/PROGRESS.md
Due: none

fix(arch): wire verify-email and refactor billing controllers
  apps/nextjs/app/api/auth/verify-email/route.ts
  apps/nextjs/app/api/billing/portal/route.ts
  apps/nextjs/app/api/checkout/route.ts
  apps/nextjs/app/api/webhooks/stripe/route.ts
  apps/nextjs/src/adapters/controllers/auth/verify-email.controller.ts
  apps/nextjs/src/adapters/controllers/billing/create-checkout-session.controller.ts
  apps/nextjs/src/adapters/controllers/billing/create-portal-session.controller.ts
  apps/nextjs/src/adapters/controllers/billing/handle-stripe-webhook.controller.ts
Due: nextjs

chore: remove expo app and fix tutorial docs
  .claude/ralph-loop.local.md
  apps/expo/.gitignore
  apps/expo/app.json
  apps/expo/app/_layout.tsx
  apps/expo/app/index.tsx
  apps/expo/assets/adaptive-icon.png
  apps/expo/assets/favicon.png
  apps/expo/assets/icon.png
  apps/expo/assets/splash-icon.png
  apps/expo/babel.config.js
  apps/expo/metro.config.js
  apps/expo/nativewind-env.d.ts
  apps/expo/package.json
  apps/expo/src/components/ai-features-section.tsx
  apps/expo/src/components/architecture-section.tsx
  apps/expo/src/components/cta-section.tsx
  apps/expo/src/components/features-section.tsx
  apps/expo/src/components/hero-section.tsx
  apps/expo/src/components/ui/brutalist-badge.tsx
  apps/expo/src/components/ui/brutalist-button.tsx
  apps/expo/src/components/ui/code-block.tsx
  apps/expo/src/components/ui/feature-card.tsx
  apps/expo/src/components/ui/section-header.tsx
  apps/expo/src/components/ui/section.tsx
  apps/expo/src/components/ui/stat-card.tsx
  apps/expo/src/components/ui/tech-badge.tsx
  apps/expo/src/global.css
  apps/expo/src/libs/utils.ts
  apps/expo/src/providers/query-provider.tsx
  apps/expo/tailwind.config.js
  apps/expo/tsconfig.json
  docs/03-tutorial-first-feature.md
Due: none

fix(lint): resolve biome warnings for main branch
  apps/nextjs/app/(auth)/reset-password/_components/reset-password-form.tsx
  apps/nextjs/src/adapters/controllers/billing/handle-stripe-webhook.controller.ts
  apps/nextjs/src/adapters/events/in-memory-event-dispatcher.ts
  apps/nextjs/src/application/event-handlers/send-welcome-email.handler.ts
  packages/ddd-kit/src/__TESTS__/domainevent.test.ts
  release.config.mjs
Due: ddd-kit, nextjs

fix(build): use lazy initialization for build compatibility
  apps/nextjs/common/auth.ts
  apps/nextjs/common/di/container.ts
  apps/nextjs/src/adapters/email/resend-email.service.ts
  packages/drizzle/src/config.ts
Due: nextjs

chore(release): disable npm publishing temporarily
  release.config.mjs
Due: none

fix(ci): remove db:generate dependency from type-check
  turbo.json
Due: none

fix(ci): add build dependency to type-check task
  turbo.json
Due: none

fix(ci): correct node engine version to >=22.0.0
  package.json
Due: none

fix(turbo): add build dependency to test:coverage task
  turbo.json
Due: none
